.searchContainer {
    max-width: 1200px;
    width: 60vw;
    min-height: 70vh;
    max-height: 80vh;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.searchInput {
    width: 100%;
    max-width: 600px;
    padding: 12px 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 16px;
    box-sizing: border-box;
    justify-self: center;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
